@forward "./zeroing.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "CrimsonText";
  src: url(./../fonts/Crimson.woff) format("woff");
  src: url(./../fonts/Crimson.woff2) format("woff2");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  /* Браузер сначала попытается загрузить современный woff2, а если он не поддерживается — woff */
  src:
    url("/public/fonts/Myriad\ Pro.woff2") format("woff2"),
    url("/public/fonts/Myriad Pro.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.none {
  display: none !important;
}

a {
  text-decoration: none;
}

$col: aqua;

body {
  background-color: #302f2f;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 2030px;
  padding: 0 15px;
  margin: 0 auto;
}

//---------------- PAGES-SITE ----------

//----------- ABOUT -------------------
.about__content {
  max-width: 100%;
  height: auto;
  min-height: 1235px;
  overflow: hidden;
  position: relative;
}

.about-site {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  padding-top: 50px;
  margin-bottom: 20px;
}

.about__text {
  max-width: 1200px;
  font-size: 25px;
  margin: 0 auto;
  color: #2e37ac;
  margin-bottom: 20px;
}

.about__btn {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;

  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
}
//----------- /ABOUT -------------------

//----------- CONTACT -------------------
.contact__content {
  max-width: 100%;
  height: auto;
  min-height: 1235px;
  overflow: hidden;
}

.contact-site {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  padding-top: 50px;
  margin-bottom: 20px;
}

.contact__text {
  max-width: 1200px;
  font-size: 25px;
  margin: 0 auto;
  color: #2e37ac;
  margin-bottom: 20px;

  .btn {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;

    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 1;
  }
}
//----------- /CONTACT -------------------

//----------- MENU -------------------
.menu__content {
  max-width: 100%;
  height: auto;
  min-height: 1235px;
  overflow: hidden;
}

.menu-site {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  padding-top: 50px;
  margin-bottom: 20px;
}

.menu__text {
  max-width: 1200px;
  font-size: 25px;
  margin: 0 auto;
  color: #2e37ac;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;

  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
}
//----------- /MENU -------------------

//----------- GALLERY -------------------

.gallery__content {
  max-width: 100%;
  height: auto;
  min-height: 1235px;
  overflow: hidden;
}

.gallery-site {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  padding-top: 50px;
  margin-bottom: 20px;
}

.gallery__text {
  max-width: 1200px;
  font-size: 25px;
  margin: 0 auto;
  color: #2e37ac;
  margin-bottom: 20px;

  .btn {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;

    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 1;
  }
}
//----------- /GALLERY -------------------

//----------- GRATIA -------------------

.gratia__content {
  max-width: 100%;
  height: auto;
  min-height: 1000px;
  overflow: hidden;
}

.gratia__text {
  max-width: 1920px;
  font-size: 25px;
  margin: 0 auto;
  color: #2e37ac;
  padding-top: 200px;
  margin-bottom: 90px;

  .btn {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;

    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 1;
  }
}
//----------- /GRATIA -------------------

//----------- BOOK -------------------

.book-table__content {
  max-width: 100%;
  height: auto;
  min-height: 1000px;
  overflow: hidden;
}

.book-table {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
  transform: translate(-50%, 0px);
  padding-top: 50px;
}

.btn {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;

  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
}

//----------- /BOOK -------------------

//----------- OUR-OFFERS -------------------

.our-offers__content {
  max-width: 100%;
  height: auto;
  min-height: 1000px;
}
.offers {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  min-height: 504px;
  padding-top: 50px;
}
.our-offers__text {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  color: #3005f1;
}
//---------------- /OUR-OFFERS ----------

//------------------ NAV --------------------

.nav {
  width: 100%;
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  z-index: 5;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  padding-left: 85px;
}

.logo-txt {
  display: inline-block;
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  padding-left: 10px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    color: $col;
  }
}

.nav__menu {
  display: flex;
  padding-right: 90px;
  gap: 60px;
  align-items: center;
  margin-top: 3px;
}

.nav__item {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.25;
}
.nav__link {
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.25;
  transition: 0.3s;

  &:hover {
    transform: scale(1.3);
    color: $col;
  }
}

//--------------- BURGER ----------------------------

.burger-btn {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: none;

  span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.burger-btn {
  display: none;
}
//--------------- /BURGER ----------------------------

//--------------- HEADER ---------------------------

.header__inner {
  max-width: 100%;
  height: auto;
  min-height: 1101px;
  position: relative;
  overflow: hidden;
}

.header-01 {
  max-width: 100%;
  position: absolute;
  top: 164px;
  left: 50%;
  transform: translate(calc(-50% + 17px), 0);
  z-index: 1;
}

.header-07 {
  max-width: 100%;
  position: absolute;
  top: 800px;
  left: 85px;
  z-index: 1;
  cursor: pointer;
}

.header__span {
  font-size: 24px;
  font-family: "CrimsonText";
  color: rgb(72, 84, 113);
  font-style: italic;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 955px;
  z-index: 1;
}

.header__button {
  display: block;
  position: absolute;
  right: 4.5vw;
  top: 946px;
  z-index: 1;
}

.button {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(216, 155, 100);
  font-weight: bold;
  line-height: 2.25;

  border: 1px solid rgb(38, 48, 69);
  background-color: rgba(255, 255, 255, 0);
  width: 233px;
  height: 64px;
}

.arrow-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1020px;
  z-index: 1;
}

@media (max-width: 990px) {
  .header__inner {
    height: auto;
    min-height: 1020px;
  }

  .header__span {
    top: 770px;
  }

  .header-07 {
    max-width: 100%;
    position: absolute;
    top: 760px;
    left: 85px;
    z-index: 1;
  }

  .header__button {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 850px;
  }

  .arrow-img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1120px;
    top: 950px;
  }

  .header-01 {
    width: 100%;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(calc(-50% + 17px), 0);
    z-index: 1;
  }
}

@media (max-width: 880px) {
  .nav-btn {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .nav__menu {
    gap: 45px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    height: auto;
    min-height: 900px;
  }

  .header-01 {
    top: 210px;
  }

  .header__span {
    font-size: 22px;
    top: 145vh;
  }

  .header-07 {
    top: 640px;
  }

  .header__button {
    top: 730px;
  }

  .arrow-img {
    top: 820px;
  }

  .menu-item {
    display: none;
  }

  .burger-btn {
    display: block;
    right: 50px;
  }

  .menu-item {
    position: absolute;
    top: -50px;
    left: -100%;
    width: 100%;
    width: calc(100% - 30px);
    margin-left: 10px;
    min-height: 100vh;
    background-color: #cf0505;
    display: flex;
    transition: 0.5s ease;
    overflow: auto;

    &.active {
      left: 5px;
    }
  }

  .nav__menu {
    padding: 30px;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }

  .nav__link {
    display: block;
    font-size: 35px;
    line-height: 90px;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .search__img {
    display: none;
  }
}

@media (max-width: 660px) {
  .header__span {
    font-size: 20px;
    top: 750px;
    top: 160vh;
  }

  .header-07 {
    width: 10%;
  }

  .nav {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

@media (max-width: 575px) {
  .header__inner {
    min-height: 750px;
  }

  .header-01 {
    top: 175px;
  }

  .header__button {
    top: 610px;
  }

  .button {
    font-size: 12px;
    width: 150px;
    height: 40px;
  }
  .header-07 {
    top: 540px;
    left: 67px;
  }
  .header__span {
    font-size: 18px;
    top: 125vh;
  }

  .arrow-img {
    top: 685px;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 50%;
    padding-left: 55px;
  }

  .logo-txt {
    font-size: 20px;
  }
  .header__inner {
    min-height: 650px;
  }

  .header-01 {
    top: 170px;
  }

  .header__button {
    top: 480px;
    transform: translate(-50% + 15%, 0px);
  }

  .header-07 {
    top: 470px;
  }

  .header__span {
    font-size: 14px;
    top: 120vh;
    transform: translate(-50% + 15%, 0px);
  }

  .arrow-img {
    top: 580px;
    transform: translate(-50% + 15%, 0px);
  }
}

@media (max-width: 400px) {
  .logo-img {
    display: none;
  }

  .logo-txt {
    padding-left: 30px;
  }

  .nav__link {
    font-size: 20px;
  }

  .header__button {
    top: 480px;
    transform: translate(-50% + 15%, 0px);
  }

  .header-07 {
    top: 470px;
    max-width: 100%;
    left: 60px;
  }

  .arrow-img {
    top: 580px;
    transform: translate(-50% + 15%, 0px);
  }
}

@media (max-width: 320px) {
  .header__inner {
    min-height: 530px;
  }

  .header-01 {
    top: 140px;
  }

  .logo-txt {
    font-size: 20px;
  }

  .nav__link {
    font-size: 20px;
  }

  .header-07 {
    top: 350px;
    left: 45px;
  }

  .header__button {
    top: 360px;
    transform: translate(-50% + 15%, 0px);
  }

  .header__span {
    font-size: 12px;
    top: 95vh;
  }

  .arrow-img {
    top: 460px;
    transform: translate(-50% + 15%, 0px);
  }
}

//--------------- PERFECTION -----------------------

.perfection__content {
  max-width: 100%;
  height: auto;
  min-height: 1251px;
  background-color: #fff;
  position: relative;
}

.top-pic {
  max-width: 100%;
  margin-top: -150px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.perfection__title {
  padding-top: 123px;
  margin-bottom: 7px;
}

.title {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  color: rgb(21, 27, 40);
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  z-index: 1;
  text-align: center;
}

.perfection__suptitle {
  font-size: 24px;
  font-family: "CrimsonText";
  color: rgb(139, 144, 157);
  font-style: italic;
  line-height: 1.5;
  letter-spacing: -0.1rem;
  text-align: center;
  z-index: 1;
}

.suptitle {
  font-size: 24px;
  font-family: "CrimsonText";
  color: rgb(139, 144, 157);
  font-style: italic;
  line-height: 1.5;
  letter-spacing: -0.1rem;
  text-align: center;
  z-index: 1;
}

/* Главный контейнер-строка */
.perfection__row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 160px;
}

/* Левый блок */
.desserts {
  width: 100%;
  max-width: 661px;
  height: 490px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #444953;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 0.2;
  }
}

.smoothies {
  position: relative;
  /* Если нужно, чтобы средняя картинка была чуть выше (как у вас 1450px против 1550px), 
     вместо абсолютных координат сдвигаем её через transform */
  transform: translateY(-95px);
  z-index: 2;
}

.smoothies-img {
  max-width: 567px;
  box-shadow: 0px 0px 183px 10px rgb(202, 202, 204);
}

/* Правый блок */
.breakfast {
  width: 100%;
  max-width: 660px;
  height: 490px;
  position: relative;
  top: 0px;
  right: -10px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #444953;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 0.2;
  }
}

/* Отдельная картинка в самом низу */
.pic-4 {
  position: absolute;
  top: 1130px;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 1;
}

@media (max-width: 2000px) {
  .perfection__content {
    min-height: 1250px;
  }

  .smoothies {
    transform: translateY(-95px);
  }
}

@media (max-width: 1920px) {
  .perfection__content {
    background-position: center -50px;
    max-width: 100%;
    height: auto;
    min-height: 2380px;
  }

  .perfection__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .desserts {
    top: 70px;
    margin-bottom: 150px;
    &::after {
      left: -5px;
    }
  }
  .smoothies {
    position: relative;
    transform: translateY(-85px);
    z-index: 2;
  }

  .smoothies-img {
    max-width: 567px;
    box-shadow: 0px 0px 180px 10px rgb(202, 202, 204);
  }

  .breakfast {
    top: -80px;

    &::after {
      left: -6px;
    }
  }

  .pic-4 {
    top: 2260px;
    z-index: 3;
  }
}

@media (max-width: 768px) {
  .perfection__row {
    padding: 0px 30px;
  }
}

@media (max-width: 575px) {
  .perfection__content {
    max-width: 100%;
    height: auto;
    min-height: 1770px;
    z-index: 1;
  }

  .perfection__title {
    font-size: 38px;
    padding-top: 70px;
    margin-bottom: 7px;
  }

  .perfection__suptitle {
    font-size: 20px;
  }

  .top-pic {
    max-width: 90%;
    margin-top: -120px;
  }

  .perfection__row {
    height: 1360px;
  }

  .desserts {
    top: 30px;
    &::after {
      content: "";
      height: auto;
      min-height: 362px;
      left: 2px;
      top: 0px;
    }
  }
  .smoothies {
    position: relative;
    transform: translateY(45px);
    z-index: 2;
  }

  .smoothies-img {
    max-width: 490px;
    margin-top: -180px;
    box-shadow: 0px 0px 40px 10px rgb(202, 202, 204);
  }

  .breakfast {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      height: auto;
      min-height: 365px;
      left: 2px;
    }
  }
  .pic-4 {
    top: 1697px;
    z-index: 5;
  }
}

@media (max-width: 480px) {
  .perfection__content {
    min-height: 1420px;
  }

  .perfection__title {
    font-size: 30px;
    padding-top: 30px;
  }

  .top-pic {
    max-width: 80%;
    margin-top: -110px;
  }

  .perfection__row {
    height: 1000px;
  }

  .desserts {
    top: 100px;
    &::after {
      content: "";
      height: auto;
      min-height: 290px;
      left: 2px;
      top: 0px;
    }
  }

  .smoothies-img {
    max-width: 80.3vw;
    margin-top: -150px;
  }
  .smoothies {
    position: relative;
    transform: translateY(85px);
    z-index: 2;
  }

  .breakfast {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      height: auto;
      min-height: 293px;
    }
  }
  .pic-4 {
    width: 40%;
    top: 1360px;
    z-index: 1;
  }
}

@media (max-width: 320px) {
  .perfection__content {
    min-height: 1000px;
  }

  .perfection__title {
    font-size: 28px;
    padding-top: 30px;
  }

  .top-pic {
    max-width: 80%;
    margin-top: -110px;
  }

  .perfection__suptitle {
    width: 250px;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .perfection__row {
    height: 0px;
  }

  .desserts {
    top: 700px;
    z-index: 1;
    &::after {
      content: "";
      height: auto;
      min-height: 175px;
      left: 0px;
      top: 0px;
    }
  }

  .smoothies-img {
    max-width: 80.3vw;
    margin-top: 445px;
    box-shadow: 0px 0px 15px 10px rgb(202, 202, 204);
  }

  .breakfast {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      height: auto;
      min-height: 174px;
      left: -2px;
    }
  }
  .pic-4 {
    width: 40%;
    top: 945px;
    z-index: 2;
  }

  .nav-inp__btn {
    display: none;
  }
}

//------------ DETAILS -----------------
//h700

.details__content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  //height: auto;
  min-height: 710px;
}

.details__img {
  margin-top: 140px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 850px) {
  .details__img {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .details__content {
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  .details__content {
    min-height: 540px;
  }
}

@media (max-width: 480px) {
  .details__content {
    min-height: 450px;
  }
}

@media (max-width: 320px) {
  .details__content {
    min-height: 310px;
  }

  .details__img {
    margin-top: 100px;
  }
}

//---------- REACH-THIS -----------------

.reach-this__content {
  max-width: 100%;
  height: auto;
  min-height: 880px;
  background-color: #fff;
}

.reach-this__top {
  //padding-top: 115px;
}
.reach-this__title {
      font-size: 45px !important ;
  //font-family: "Montserrat", sans-serif;
  //color: rgb( 21, 27, 40 );
  //font-weight: bold;
  //line-height: 1.7;


 padding-top: 115px;
  margin-bottom: 7px;
}


.title {


}
.reach-this__suptitle {
}
.suptitle {
}

.this-pic {
  max-width: 100%;
  margin-top: -150px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.reach-this__row {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //justify-content: center;
}

@media (max-width: 1920px) {
  .reach-this__content {
    height: auto;
    min-height: 1480px;
  }

  .reach-this__row {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .reach-this__content {
    /* Позволяет блоку идеально подстраиваться под контент */
    height: auto;
    min-height: 0; /* Сбрасываем минимальную высоту, если она была задана для ПК */

    /* Добавляем отступы сверху и снизу, чтобы контент не прилипал к краям */
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
.reach-this__top {
  padding-top: 0px;
  margin-bottom: 50px;
}

.reach-this__row {
  padding: 0 20px;
}

.reach-this__title {
  font-size: 35px;
}

.reach-this__suptitle {
  font-size: 20px;
}

.this-pic {
  max-width: 70%;
  margin-top: -100px;
}

@media (max-width: 575px) {
  .reach-this__row {
  gap: 30px;
}

.reach-this__title {
      font-size: 35px !important ;
  //font-family: "Montserrat", sans-serif;
  //color: rgb( 21, 27, 40 );
  //font-weight: bold;
  //line-height: 1.7;


 padding-top: 20px;
  margin-bottom: 7px;
}
}

@media (max-width: 480px) {
  .reach-this__title {
  font-size: 30px !important;
}

.reach-this__suptitle {
  font-size: 18px;
}

.diffrent {
  margin-top: -30px;
}
}

@media (max-width: 320px) {
    .reach-this__content {
    padding-top: 30px;
    padding-bottom: 50px;
  }

    .reach-this__title {
  font-size: 20px !important;
}


.reach-this__suptitle {
  font-size: 14px;
}

.this-pic {
  margin-top: -70px;
}
}