
# --- Файлы логов и временные файлы ---
*.log      # Игнорировать все файлы .log
logs/*.log

 # Игнорировать все временные файлы
*.tmp     
*.temp
doc/*.txt
doc/**/*.txt
*.exe
/TODO

# Файлы конфигурации и кэша 
config.local.js # Конкретный файл конфигурации
.env             # Файл с секретами
*.cache

# --- Папки зависимостей ---
node_modules/ # Все зависимости Node.js
vendor/

# --- Папки скомпилированных файлов и chopin ---
build/        # Каталог сборки
dist/         # Каталог сборки
temp/

# --- Файлы IDE и операционной системы ---
.DS_Store
Thumbs.db     # Windows
.idea/        # IntelliJ IDEA, PhpStorm
.vscode/      # VS Code
