
# --- Файлы логов и временные файлы ---
# Игнорировать все файлы .log
logs/*.log

# Игнорировать все временные файлы
*.tmp     
*.temp
doc/**/*.txt
*.exe
/TODO

# Файлы конфигурации и кэша 
# Конкретный файл конфигурации
config.local.js 

# Файл с секретами
.env            
*.cache

# --- Папки зависимостей #Все зависимости Node.js---
node_modules/ 
vendor/

# --- Папки скомпилированных файлов и chopin ---
# Каталог сборки
build/   

# Каталог сборки    
dist/     
temp/

# --- Файлы IDE и операционной системы ---
.DS_Store

# Windows
Thumbs.db  

# IntelliJ IDEA, PhpStorm
.idea/  

# VS Code
.vscode/     
